
	.padder{
		padding-top:10px;
		font-size: 60px;
	}
	.Top{
		margin-top: -25px;
		background-color:#b522a8;
		box-shadow: 0px 5px 5px;
	}
	.txt{
		margin-top: 80px;
		display:block;
		margin-left: auto;
		margin-right: auto;
		width:450px;
		height:70px;
		border-radius: 10px;
	}
	::-webkit-input-placeholder {
		font-size: 30px;
		margin-left: auto;
		margin-right: auto;
		
	}
	input[type]{
		
		font-size: 32px;
		
	}
	button{
		color:white;
		
		background-color: #b522a8;
	}
	#post-meme{
		width:300px;
		border-radius: 22px;
		box-shadow: 0px 8px #D35400;
		font-size:35px;background-color:#F89406;
	}
	#profile-picture{
		height:142px;
		width: 142px;
		border-radius: 50%;
		margin-top: 90px;
		margin-left: 30px;


	}
	.centering{
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	.Top1{
		margin-top:-10px;
	}
	.inline{
		list-style: none;
		margin:0px;
		padding: 0px;
	}
	.inline li{
		display: inline-block;
		/*border-top: solid;
		border-left: solid;
		border-right: solid;
		border-bottom: hidden;

		border-radius: 10px;*/
		margin-right: -6px;
	}
	li{
		list-style: none;
	}
	.inline a{
		display:block;
		padding:20px;
		margin: 20px;

	}
	
	.form-div{
		box-shadow: 10px 10px 10px;
		margin-top: 2%;
		margin-bottom: 25%;
		margin-right: 3%;
		margin-left: 57%;
		background-color:#E4F1FE;
		border-radius: 25px;
	}
	.inbutton{
		box-shadow: 0px 10px #1F3A93;
	}
	.entrypage{

    	background-image: url("/Users/gauravsangle/Downloads/EyooTML-meme-wallpaper.jpg");
    	background-color: #cccccc;
    }

    /*The nav bar*/
    .top-nav{
    	height: 55px;
    	position: relative;
    	position: fixed;
    	top:0px;
    	z-index: 100;
    	background-color: white;
    	box-shadow: 0px 1px 0.5px #cccccc; 
    	
    }
    @media screen and (max-width: 1800px){
    	.top-nav{
    		width: 100%;
    	}
    }


    /*The websites name in the nav bar*/
    .website-name{
    	position: absolute;
    	left: 30px;
    	font-size: 35px;
    	
    	color: #b522a8;
    }
    a.website-name:hover{
    	text-decoration: none;
    	color: #b522a8;
    }

    .website-name,#search-box,.dropdown{
    	display: inline-block;
    	vertical-align: middle;

    }

    /*Dropdown*/
    .dropdown{
    	position: absolute;
    	left:150px;
    	top:15px;
    }
    #dropdown{
    	color: #b522a8;
    	font-size: 25px;

    }


    /*The search box*/
    #search-box{
    	position: absolute;
    	margin-left: 50%;
    	margin-right: 50%;
    	left: -30px;
    	top:5px;
    	margin-top: 5px;
    	border-radius: 10px;
    	z-index: 10;
    }
    .search{
    	font-size: 20px;
    	color:#b522a8;
    	width:185px;
    	border-radius: 13px;
    	background-color: #FAFAFA;
    	z-index: 10;
    }
    input.search:focus{
    	background-color: white;
    }
    .modify-search-box{
    	width: 350px;
    	margin-left: -75px;
    }
    input.search::-webkit-input-placeholder {
		font-size: 20px;
 		color:#BDBDBD;
 		padding-left: auto;
 		padding-right: auto;
	}

    .addBlur:not(#search-box){
    	filter:blur(1.5px);
    }

    .wrapper{
    	position: relative;
    	width: 450px;
    	height: 55px;
    	left:78vw;
    	top:5px;
    }

	/*Display picture*/
	#dp{
		position: absolute;
		top:0px;
		left: 7vw;
		border-radius: 50%;
		height: 48px;
	}	


	/*notifications*/
	#notifications{
		position: absolute;
		top:7px;
		left:12.5vw;
		color: black;
		font-size: 33px;
	}

	/*Post a meme*/
	#upload{
		color: black;
		position: absolute;
		top:7px;
		left: 17vw;
		font-size: 35px;
	}

	@media screen and (max-width: 1164px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:75vw;
	    	top:5px;
    	}
    	#notifications{
			position: absolute;
			top:7px;
			left:13.5vw;
			color: black;
			font-size: 33px;
		}

	/*Post a meme*/
		#upload{
			color: black;
			position: absolute;
			top:7px;
			left: 18.5vw;
			font-size: 35px;
		}
    }
	@media screen and (max-width: 1056px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:80vw;
	    	top:5px;
    	}
    }

    @media screen and (max-width: 1020px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:85vw;
	    	top:5px;
    	}
    }
    @media screen and (max-width: 945px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:90vw;
	    	top:5px;
    	}
    }

    @media screen and (max-width: 768px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:105vw;
	    	top:5px;
    	}
    	#notifications{
			position: absolute;
			top:7px;
			left:18vw;
			color: black;
			font-size: 33px;
		}

	/*Post a meme*/
		#upload{
			color: black;
			position: absolute;
			top:7px;
			left: 26vw;
			font-size: 35px;
		}
    }
    @media screen and (max-width: 430px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:200vw;
	    	top:5px;
    	}
    	#notifications{
			position: absolute;
			top:7px;
			left:27vw;
			color: black;
			font-size: 33px;
		}

	/*Post a meme*/
		#upload{
			color: black;
			position: absolute;
			top:7px;
			left: 41vw;
			font-size: 35px;
		}
    }
    @media screen and (max-width: 375px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:228vw;
	    	top:5px;
    	}
    	#notifications{
			position: absolute;
			top:7px;
			left:27.5vw;
			color: black;
			font-size: 33px;
		}

	/*Post a meme*/
		#upload{
			color: black;
			position: absolute;
			top:7px;
			left: 42vw;
			font-size: 35px;
		}
    }

    @media screen and (max-width: 360px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:237.5vw;
	    	top:5px;
    	}
    	#notifications{
			position: absolute;
			top:7px;
			left:28vw;
			color: black;
			font-size: 33px;
		}

	/*Post a meme*/
		#upload{
			color: black;
			position: absolute;
			top:7px;
			left: 42.5vw;
			font-size: 35px;
		}
    }
     @media screen and (max-width: 320px){
    	 .wrapper{
	    	position: relative;
	    	width: 450px;
	    	height: 55px;
	    	left:275vw;
	    	top:5px;
    	}
    	#notifications{
			position: absolute;
			top:7px;
			left:27vw;
			color: black;
			font-size: 33px;
		}

	/*Post a meme*/
		#upload{
			color: black;
			position: absolute;
			top:7px;
			left: 41vw;
			font-size: 35px;
		}
    }
     
     
	/*tabs*/
	.tab-bottom{
		z-index: 10;
	}
	.tabs{
		position: relative;
		top:120px;
		left:33.6%;
		width: 600px;
		
	}



	.hotmemes,.freshmemes,.trendingmemes{
		position: absolute;
		top:120px;
		left:4px;
	}

	@media screen and (max-width: 420px){
		.tabs{
			left:35%;
		}
		.hotmemes{
			margin-left:0px;
			width: 100%;
		}
    	.meme{
    		width: 100%;
    	}
    }

	#hotmemes,#trendingmemes,#freshmemes,#shuffle,.notif-meme-heading,#memes-tab,#subscriptions-tab,#social-tab,#notif-tab{
		display: inline-block;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: black; 
		padding: 5px;
		border-radius: 0px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	#hotmemes{
		position: relative;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
	}

	#shuffle{
		margin-left: 43px;
		letter-spacing: 2px;
		padding-left: 10px;
		padding-right: 10px;
	}


	.notif-meme-heading{
		
		position: fixed;
		right: 385px;
		width: 580px;
		top: 87px;
		padding-bottom: 0px; 
		
	}

	.borderi{
		border-left: solid;
		border-right:solid;
		border-top:solid;
		border-left-color: #b522a8;
		border-right-color: #b522a8;
		border-top-color: #b522a8;
	}

	.border{
		border-left: solid;
		border-right:solid;
		border-top:solid;
		
		border-left-color: #b522a8;
		border-right-color: #b522a8;
		border-top-color: #b522a8;
	}

	.hotmemes,.trendingmemes,.freshmemes{
		margin-top:-1px;
		width: 600px;
		margin-left: 480px;
			
	}

	.trendingmemes,.freshmemes{
		display: none;
	}

	a:hover,a:active,a:focus,a{
		text-decoration: none;
	}

	a.cursor:hover{
		cursor:default;
	}


	#trendingmemes,#freshmemes{
		margin-left: 47px;
		letter-spacing: 2px;
		padding-left: 10px;
		padding-right: 10px;
	}

	/*Header 2*/
	.header2{
		position: fixed;
		top: 55px;
		z-index: 100;
		display: none;
		background-color: #8c8c8c;
		width: 100%;
		border-bottom: solid;
		border-bottom-width: 1px;
		border-bottom-color: #b522a8;
	}
	a.categ-link{
		color: white;
	}
	.categ{
		display: inline-block;
		font-size: 20px;
		margin-left: 25px;
		
		
		

	}
	a.categ-link:hover,a.categ-link:active,a.categ-link:focus{
		color: black;
	}

	/*notif section*/


	.notifications-column{
		display: none;
		width: 370px;
		position: relative;
		position: fixed;
		top: 95px;
		left:1085px;
		vertical-align: top;
	}

	a.notif-link{
		color:black;
	}

	.addBackground{
		color: #b522a8;
		
	}

	.hotmemes,.freshmemes,.trendingmemes{
		position: relative;
	}

	.notifications-column,.hotmemes,.freshmemes,.trendingmemes{
		display: inline-block;

	}

	#notif-heading{
		font-size: 22px;
		border-bottom: solid;
		border-bottom-color: #b522a8;
		padding: 10px;
	}

	

	

	.notif{
		padding: 5px;
		border-bottom: solid;
		border-radius: 3px;
		min-height: 70px;
		border-bottom-width: 1.5px;
		border-bottom-color: #b522a8;
	}

	.notif-dp{
		height: 50px;
		border-radius: 50%;
	}

	.notif-dp,.notif-text{
		display: inline-block;
		vertical-align: top;
	}

	.notif-text{
		font-size: 17px;
		margin-left: 10px;
		margin-bottom: 15px;
		width: 260px;
	}

	.notif-memes{
		display: none;
		border-top: solid;
		border-top-color: #b522a8; 
		padding-top: 0px;
		position: absolute;
		top:159px;
		left:482px;
	}

	/*memes*/

	.meme{
		position: relative;
		margin-top: 25px;
		margin-left: 0px;
		width: 600px;
		background-color: white;
		border-radius: 5px;
		border: solid;
		border-color: #cccccc;
		border-width: 1px;
		margin-bottom: 55px;


	}

	.image{
		width: 598px;
	}
	

	.title{
		font-size: 25px;
		margin-top: 15px;
		margin-left: 7px;
	}
	.posted-by{
		position: absolute;
		right:5px;
		font-size: 15px;
		bottom: 10px;
	}

	.small-profile{
		display: none;
	}

	.posted-by,.title{
		display: inline-block;
		vertical-align: bottom;
	}

	.upvote,.comment{
		display: inline-block;
		width:35px;
		height: 35px;
		margin-left: 7px;
		margin-top: 10px;
		border-color: black;
		margin-bottom: 12px;
	}

	.upvote{
		position: absolute;
		left:280px;
		width: 40px;
		height: 40px;
		bottom:0px;
	}

	.points{
		font-size: 15px;
		margin-left: 7px;
	}
	
	.upvotes,.comment{
		display: inline-block;
	}
	.subscribe-button{
		position: absolute;
		bottom:9px;
		left: 65px;
		background-color: #2F2F2F;
		position: absolute;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 4px;
		font-size: 19px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-right-color: white;
		border-right-width: 1px;
	}
	.subscribers{
		color: white;
		cursor: default;
		position: absolute;
		width: 50px;
		height:41px;
		left:209px;
		background-color: #2F2F2F;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 4px;
		font-size: 22px;
		padding-left: 10px;
		padding-top:  7px;
		border-radius: 5px;
		bottom: -1px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.points,.comments,.category_1,.flag{
		display: inline-block;
	}
	.flag{
		margin-left: 10px;
		font-size: 17px;
		color: black;
		cursor: pointer;

		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		outline:none;
		border: 0;
		background: transparent;
	}
	.comments{
		font-size: 15px;
		margin-left: 10px;
	}

	.category{
		position: absolute;
		font-size: 17px;
		top:0px;
		right: 5px;
	}

	.category_1{
		position: absolute;
		right:5px;
		

	}

	/*comment section*/

	.comment-section{
		background-color: #FEFEFE;
		border-style: solid;
		border-width: 1px;
		border-color:#cccccc;
		width:500px;
		min-height: 68px;
		position: relative;
		top:10px;
		
		margin-left: 10px;
		border-radius: 5px;
	}

	#dedicated-comment-section{
		width: 600px;
		left:60px;
	}

	.comment-wrapper{
		position: relative;
	}

	.comment-box-text{
		color:white;
		position: absolute;
		top:150px;
	}

	.comment-input{
		border-radius: 5px;
		color: black;
		position: absolute;
		bottom:8px;
		left:6px;
		background-color: #f8f8f8;
		border-color: #999999;
		line-height: 20px;
	}

	.submit-comment{
		position: absolute;
		top:-27px;
		bottom: 8px;
		right: 34px;
		border-radius: 5px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		width: 7px;
		background-color: #1a1a1a;
	}

	.heading{
		height: 50px;
		color:black;
		border-bottom: solid;
		border-bottom-color: black;
		border-top-left-radius: 8px;
	}
	#heading{
		position: absolute;
		left: 10px;
		top:-10px;
		font-size: 27px;
		font-family: 'Open Sans', sans-serif;
	}


	.comment-heading{
		position: absolute;
		border-bottom: solid;
		border-bottom: black;
		
		top:0px;
		left:12px;
		font:sans-serif;
		font-size: 30px;
		color: white;
	}

	#comments-dedicated{
		margin-top: 20px;
		width: 598px;
	}

	.submission{
		position: relative;
		top:-10px;
		left:70px;
		width: 600px; 
		height: 75px;     
	}

	#submission-dedicated{
		width: 600px;
	}

	.comment-input,.submit-comment{
		display: inline-block;
	}

	.comment-input{
		position: absolute;
		left:0px;
		width: 505px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-color:#cccccc;
	}
	.submit-comment{
		position: absolute;
		font-size: 20px;
		right: 0px;
		width: 95px;
	}

	button.submit-comment:hover{
		color: #b522a8;
	}

	textarea.form-control:focus,button.submit-comment:focus {
  		border-color: inherit;
  		-webkit-box-shadow: none;
  		box-shadow: none;
	}

	input.comment-input::-webkit-input-placeholder{
		font-size: 20px;
	}

	div.comments{
		background-color: #E7E7E7;
		min-height: 70px;
		margin-left: 0px;
	}
	a{
		cursor: pointer;
	}
	.real-comment{
		padding:5px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		margin-left: -35px;
		font-size: 18px;
		width:518px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
	}


	#dedicated-username{
		margin-right: 8px;
		font-family: 'Open Sans', sans-serif;
		color: #ef22ef;
		font-size: 20px;
	}
	.action-link,#reply-like-link{
		position: relative;
		font-family: 'Open Sans', sans-serif;
		color: #ef22ef;
		font-size: 17px;
		margin-left: 72px;
		left: -73px;
	}

	#like-link{
		margin-left:15px;
	}
	.comment-info{
		position: relative;
		bottom: 30px;
		left: 190px;
	}
	#reply-like-link{
		position: relative;
		left: -71px;
		top: 2px;
	}
	.comment-reply-info{
		position: relative;
		bottom: 31px;
		left: 115px;
	}

	#comment-likes,#comment-replies{
		display: inline-block;
	}

	#comment-replies{
		margin-left: 15px;
		margin-right: 200px;
	}


	.reply-action{
		display: none;
		margin-left: 72px;
		border-radius: 5px;
		width: 450px;
		margin-top: 0px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		margin-bottom: -27px;
	}

	.replies{
		font-family: 'Open Sans', sans-serif;
		color: #ef22ef;
		position: relative;
		bottom: 4px;
		left: -239px;

	}


	#post-reply{
		display: none;
		width:70px;
		position: relative;
		bottom: 47px;
		left: 449px;
		height: 53.5px;
		background-color: black;
		color: white;
		border-radius:5px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	#text-reply{
		position: relative;
		bottom: 20px;
	}

	#text-reply::-webkit-input-placeholder{
		font-size: 15px;
	}

	.comment-top{
		width: 100px;
	}

	#comment-dp{
		padding:5px;height:60px;
		margin-left: 5px;
	}

	.comment-top,.real-comment{
		display: inline-block;
		vertical-align: top;
	}
	.reply-comment{
		background-color: #E7E7E7;
		width: 535px;
		margin-left: 62px;
		margin-bottom: -17px;
		min-height: 70px;
		position: relative;
		bottom: 12px;
	}

	.reply-real-comment{
		padding:5px;
		padding-left: 0px;
		padding-bottom: 0px;
		width: 465px;
		font-size: 18px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
		margin-bottom: 0px;
	}

	.reply-comment-top,.reply-real-comment{
		display: inline-block;
		vertical-align: top;
	}
	/*/////////////////////////////////////////////////////*/
	/*Info box*/
	.infobox{
		position: relative;
		margin-top: 100px;
		height: 320px;
		width:920px;
		background-color: white;
		border-radius: 8px;
		border-color: black;
		border: solid;
		border-width: 1px;
	}
	#infobox-dp{
		height: 150px;
		border-radius: 50%;
		position: absolute;
		top:10px;
		left: 45px;
	}
	#follow{
		background-color: black;
		position: absolute;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 3px;
		font-size: 20px;
		top:270px;
		left: 40px;
		width: 170px;
	}
	#friend-request{
		background-color: black;
		position: absolute;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: -1.85px;
		font-size: 20px;
		top:225px;
		left: 40px;
		width: 170px;
	}

	h1.username{
		position: absolute;
		font-family: 'Open Sans', sans-serif;
		color: black;
		font-size: 35px;
		letter-spacing: 2px;
		top:150px;
		left: 60px;
	}
	.left-part{
		height: 318px;
		width: 260px;
		border-right:solid;
		border-width: 1px;
	}
	h1.usernick{
		position: absolute;
		top:15px;
		left:290px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 2px;
	}
	h1.info-followers,h1.info-following,h1.info-posts{
		position: absolute;
		top:90px;
		font-size: 30px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
	}
	h1.info-followers{
		position: absolute;
		left: 290px;
	}
	h1.info-following{
		 position: absolute;
		left:510px;
	}
	h1.info-posts{
		position: absolute;
		left:740px;
	}
	h1.info-meagles,h1.info-questions{
		position: absolute;
		top:150px;
		font-size: 30px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 2px;
		left: 365px;
	}
	h1.info-questions{
		letter-spacing: -1px;
		left:565px;
	}
	h1.score{
		position: absolute;
		color: #b522a8;
		top:5px;
		left:490px;
		font-style: italic;
		font-size: 21px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 2px;
	}
	h1.user-says{
		position: absolute;
		font-style: italic;
		top:225px;
		left: 385px;
		font-size: 30px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 2px;
	}
	#score{

	    display: block;
	    height: 56px;
	    width: 56px;
	    line-height: 54px;

	    -moz-border-radius: 30px; /* or 50% */
	    border-radius: 30px; /* or 50% */
	    border: solid;
	    border-color: #b522a8;
	    color: #b522a8;
	    text-align: center;
	}

	#follow:hover,#friend-request:hover,#follow:focus,#friend-request:focus,#follow:active,#friend-request:active,.create-group:active,.create-group:hover,.create-group:focus{
		color: #b522a8;
		border: solid;
		background-color: white;
		border-color: #b522a8;
		border-width: 1px;

	}
	.subscribe-button:hover{
		color: #b522a8;
		border: solid;
		background-color: white;
		border-color: #b522a8;
		border-width: 1px 0px 1px 1px;

	}
	#home-page-tabs{
		position: relative;
		top: 50px;
		margin-left: -35px;
		width: 1000px;
	}
	#memes-tab,#subscriptions-tab,#social-tab,#notif-tab{
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		top:0px;
		letter-spacing: 1px;
		font-size: 25px;
		cursor: pointer;
	}
	#subscriptions-tab{
		margin-left: 100px;
		
	}
	#social-tab{
		margin-left: 110px;
		padding-left: 11px;
		padding-right: 11.5px;
	}
	#notif-tab{
		margin-left: 180px;
	}

	.memes-tab-content,.subscriptions-tab-content,.social-tab-content{
		position: relative;
		top:80px;
		left:450px;
		width: 600px;
	}
	#memes-tab,#subscriptions-tab,#social-tab{
		color: #b522a8;
		position: relative;
	}
	.addBorder{
		border-radius: 5px;
		border-right: solid;
		border-left: solid;
		border-top: solid;
	}
	#memes-tab:after,#subscriptions-tab:after,#social-tab:after{
		  content:""; 
		  background: #FEFEFE; 
		  position: absolute; 
		  bottom: 1px; 
		  left: 0px; 
		  height: 2px; 
		  width:98px;
		  z-index: 100;

	}

	#subscriptions-tab:after{
		width:175px;
	}
	#social-tab:after{
		width: 80px;
	}
	.search-people{
		position: absolute;
		top:30px;
		width:412px;
		height: 43px;
		font-size: 25px;
	}
	.create-group{
		background-color: black;
		position: absolute;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
		font-size: 20px;
		top:30px;
		left: 428px;
		width: 170px;
	}
	::-webkit-input-placeholder{
		font-size: 23px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1.85px;
	}
	.requests{
		background-color: white;
		width: 600px;
		height: 650px;
		border:solid;
		border-width: 1px;
		border-radius: 7px;
		position: relative;
		top:100px;

	}
	.request{
		margin-top: 20px;
		position: relative;
		top:0px;
		
	}
	.request-content{
		font-size: 23px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 0.5px;
		margin-left:10px;
		width:430px;
	}
	.accept{
		background-color: white;
		border: solid;
		border-width: 1px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1.85px;
		font-size: 20px;
		position:absolute;
		top:5px;
		left: 440px;
		width: 70px;
	}
	.accept:hover,.reject:hover{
		text-decoration: none;
	}
	.reject{
		background-color: white;
		border: solid;
		border-width: 1px;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1.85px;
		font-size: 20px;
		position: absolute;
		top:5px;
		left: 514px;
		width: 70px;
	}
	.friend-request-heading{
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1.85px;
		font-size: 25px;
		margin-left: 10px;
		font-style: italic;
		color: #b522a8;

	}
	.group-request-heading{
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1.85px;
		font-size: 25px;
		margin-left: 8px;
		position: relative;
		top:0px;
		font-style: italic;
		color: #b522a8;

	}
	.load-more{
		font-size: 20px;
		position: relative;
		top:0px;
		left: 10px;
		color: #b522a8;
		font-weight: lighter;
		font-family: 'Open Sans', sans-serif;
	}
	.meagles-heading{
		width: 600px;
		font-family: 'Open Sans', sans-serif;
		font-size: 30px;
		font-style: italic;
		color: #b522a8;
		position: relative;
		border-top: solid;
		border-color: black;
		border-width: 2px;
		padding-top:40px;
		top: 100px;
		left: 0px;
	}
	.meagles{
		position: relative;
		top:100px;
	}
	.workstation{
		position: relative;
	}
	#workstation-meme{
		border-radius: 7px;
		width: 600px;
	}
	#workstation{
		border: solid;
		border-radius: 7px;
	}

	.dragger{
		width:20px;
		height: 20px;
		border-radius: 50%;
		border-color: black;
		background-color: black;
		position: absolute;
		bottom: -7px;
		z-index: 10;
	}
	#half-width-1{
		left: -8px;
	}

	.dedicated-meme,.right-container{
		display: inline-block;
		vertical-align: top;
	}

	.dedicated-meme{
		margin-top: 100px;
		margin-left: 70px;
	}

	.posters-plate{
		position: relative;
		margin-left: 30px;
		margin-top:100px;
		background-color: white;
		border-radius: 8px;
		width: 440px;
		height: 200px;
		border: solid 1px;
		border-color: #cccccc;

	}
	.posters-time,.posters-info{
		position: absolute;
		right: 10px;
		bottom:-6px;
		font-size: 20px;
	}
	.posters-time{
		font-size: 15px;
	}
	.posters-info{
		top:5px;
	}

	.category-plate{
		position: relative;
		margin-left: 30px;
		top:30px;
		background-color: white;
		border-radius: 8px;
		width: 440px;
		height: 200px;
		border: solid 1px;
		border-color: #cccccc;
	}

	/*Search Results*/
	.search-results{
		width: 350px;
		height: 200px;
		position: absolute;
		top: 55px;
		background-color: black;
		left: 620px;
	}

